@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}


body{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #dbdbdb;
  padding: 13rem;
}
body .label{
  width: 100%;
  height: 80px;
  background-color: #35cfed;
  border-radius: 43px;
}

html, body{
  width: 95%;
  overflow-x: hidden;
}

  
form .label{
  width: 500px;
  height: 40px;
  border: none;
  border-radius:20px 20px 20px 20px;
  text-indent: 30px;
  font-size: 1.1em;
  margin-top: 1.2rem;
  padding: 1%;
}

header{
  width: 125%;
  height: 200px;
  background-image: linear-gradient(to bottom, #0400f0, #33d6ff);
  border-radius: 35px;
  font-size: 2.5em;
  overflow-x: hidden;
}

form .botton{
  width: 200px;
  height: 33px;
  border: none;
  border-radius:15px 15px 15px 15px;
  text-indent: 3px;
  font-size: 1.3em;
  background-image: linear-gradient(to bottom, #0400f0, #33d6ff);
}
form .value {
  margin-top: 1.6rem;
  padding: 2%;
  background-color: #35cfed;
  border-radius:15px 15px 15px 15px;
}
